<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Kundenprofil</title>
  <style>
    dl { width: 400px; }
    dt { font-weight: bold; margin-top: 10px; }
    dd { margin-left: 20px; }
  </style>
</head>
<body>
  <h1>Kundenprofil</h1>
  <dl>
    <dt>Vorname</dt><dd>{{ customer.first_name }}</dd>
    <dt>Nachname</dt><dd>{{ customer.last_name }}</dd>
    <dt>Weitere Vornamen</dt><dd>{{ customer.middle_names }}</dd>
    <dt>Adresse</dt>
      <dd>{{ customer.address_line1 }}<br>
          {{ customer.address_line2 }}<br>
          {{ customer.postal_code }} {{ customer.city }}</dd>
    <dt>Geburtsdatum</dt><dd>{{ customer.birth_date }}</dd>
    <dt>Telefon</dt><dd>{{ customer.phone }}</dd>
    <dt>E-Mail</dt><dd>{{ customer.email }}</dd>
  </dl>
</body>
</html>
